body {
  background: black;
  color: white;
  font-family: monospace;
  font-size: 12pt;
}

.dir {
  display: inline-block;
  vertical-align: top;
  width: 200px;
  margin: .2em;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  white-space: nowrap;
  display: -webkit-flex;
  -webkit-justify-content: space-between;
}

.basename {
  overflow: hidden;
  text-overflow: ellipsis;
}

.stats {
  -webkit-flex: none;
  margin-left: .5em;
}

#header .user {
  color: lime;
}

.file.active {
  background: white;
}

.directory {
  color: aqua;
}
.directory.active {
  background: aqua;
}

.symlink {
  color: magenta;
}
.symlink.active {
  background: magenta;
}

.block, .character, .fifo {
  color: yellow;
}
.block.active, .character.active, .fifo.active {
  background: yellow;
}

.active {
  color: black;
}
