body {
  background: black;
  color: white;
  font-family: monospace;
  font-size: 12pt;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  vertical-align: top;
  display: inline-block;
}

#header .user {
  color: lime;
}

.file.active {
  background: white;
}

.directory {
  color: aqua;
}

.directory.active {
  background: aqua;
}

.symlink {
  color: magenta;
}

.symlink.active {
  background: magenta;
}

.active {
  color: black;
}
