body {
  background: black;
  color: white;
  font-family: monospace;
  font-size: 12pt;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#header .user {
  color: lime;
}

.active {
  color: black;
}

.file.active {
  background: white;
}

.dir {
  color: aqua;
}
.dir.active {
  background: aqua;
}

.symlink {
  color: magenta;
}
.symlink.active {
  background: magenta;
}
