body {
  background: black;
}
body.nojs canvas {
  background: transparent;
}
canvas {
  background: white;
  display: block;
  margin: 0 auto;
}
#info {
  position: fixed;
  top: 0;
  right: 0;
  color: white;
}
